body {
  font-family: -apple-system, "system-ui", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Fira Sans", "Ubuntu", "Oxygen", "Oxygen Sans", "Cantarell", "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

.conversations-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 550px;
  padding: 1em;
}

.has-unread {
  background-color: #eff3f9;
}

.conversation-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0.25em 0.75em 0.25em 0.75em;
  margin: 0.15em;

  .conversation-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5em;

    img {
      border-radius: 50%;
      cursor: pointer;
      height: 75px;
      width: 75px;
    }
  }

  .card-title {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
  }

  .card-delivered-at {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    margin-left: auto;
  }

  .card-message {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    max-height: 3em;
    overflow-y: hidden;
  }

  .card-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: rgb(10, 102, 194);
    border-radius: 50%;
    min-width: 25px;
    height: 25px;
    margin-left: auto;
  }
}

.conversation-card:hover {
  background-color: #ebebeb !important;
}