body {
  font-family: -apple-system, "system-ui", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Fira Sans", "Ubuntu", "Oxygen", "Oxygen Sans", "Cantarell", "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 550px;
  padding: 0px;
}

.sign-in {
  font-size: 16px;
  color: rgb(10, 102, 194);
  border-color: rgb(10, 102, 194);
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  padding: 0.5em 2em;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: #e2f0fd !important;
  }
}

.loader {
  color: rgb(10, 102, 194);
}

.scroll {
  width: 100%;
  margin-top: 80px;
}

.has-unread {
  background-color: #e2f0fd;
}

.base-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0.55em 0.75em;

  .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5em;

    img {
      cursor: pointer;
      border-radius: 50%;
      height: 75px;
      width: 75px;
    }
  }

  .card-timestamp {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    margin-left: auto;
  }

  .card-title {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);

    &:hover {
      color: rgba(0, 0, 0, 1);
      text-decoration: underline;
    }
  }

  .card-message {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    max-height: 3em;
    overflow-y: hidden;
  }
}

.conversation-card {
  @extend .base-card;

  .card-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: rgb(10, 102, 194);
    border-radius: 50%;
    min-width: 25px;
    height: 25px;
    margin-left: auto;
  }

}

.conversation-card:hover {
  background-color: #ebebeb !important;
}

.notification-card {
  @extend .base-card;

  cursor: pointer;

  .notification-action {
    font-size: 16px;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    padding: 0.25em 0.75em;
    margin: 0em 0.5em;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: #e2f0fd !important;
    }
  }
}

.notification-card:hover {
  background-color: #ebebeb !important;
}

.invitation-card {
  @extend .base-card;

  .card-subtitle {
    margin-right: auto;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    max-height: 3em;
    overflow-y: hidden;
  }

  .action-accept {
    font-size: 16px;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    padding: 0.25em 0.75em;
    margin: 0em 0.5em;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: #e2f0fd !important;
    }
  }

  .action-ignore {
    font-size: 16px;
    color: #585858;
    padding: 0.25em 0.75em;
    margin: 0em 0.5em;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: #ebebeb !important;
    }
  }

  .custom-message {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0.5em;
    margin: 0.5em;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    border-radius: 8px;

    .action-reply {
      font-size: 14px;
      color: #585858;
      padding: 0.25em 0.75em;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: #ebebeb !important;
      }
    }
  }

}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  position: fixed;
  top: 0px;
  background-color: white;

  .tab-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);

    &:hover {
      color: rgba(0, 0, 0, 0.9);
    }
  }
}