$base-card: white;
$base-card-hover: #f3f3f3;
$base-card-timestamp: #8D8D8D;
$base-card-title: rgba(0, 0, 0, 0.9);
$base-card-title-hover: rgba(0, 0, 0, 1);
$base-card-message: #909090;
$base-card-message-background: rgba(244, 244, 244, 0.38);
$base-card-unread: #e2f0fd;
$base-card-border: rgba(0, 0, 0, 0.1);

$conversation-card-badge: white;
$conversation-card-background: rgb(10, 102, 194);

$details-back: rgba(106, 106, 106, 0.6);
$details-back-hover: rgba(106, 106, 106, 0.9);
$details-reply-background: white;
$details-reply-background-hover: #e2f0fd;
$details-reply: rgb(10, 102, 194);
$details-reply-border: rgb(10, 102, 194);

$invitation-card-subtitle: rgba(0, 0, 0, 0.6);
$invitation-card-action-1: #585858;
$invitation-card-action-2: rgb(10, 102, 194);
$invitation-card-action-2-hover: #e2f0fd;
$invitation-card-custom-message-border: #ebebeb;

$notification-card-action-1: rgb(10, 102, 194);
$notification-card-action-1-border: rgb(10, 102, 194);
$notification-card-action-1-hover: #e2f0fd;

$premium-message-background: rgb(10, 102, 194);
$premium-message: white;
$premium-share: black;
$premium-share-background: #fddc3d;

$sign-in: rgb(10, 102, 194);
$sign-in-border: rgb(10, 102, 194);
$sign-in-background: white;
$sign-in-hover: #e2f0fd;

$tab: white;
$tab-selected: #1569BF;
$tab-border: rgba(0, 0, 0, 0.1);
$tab-item: rgba(0, 0, 0, 0.6);
$tab-item-hover: rgba(0, 0, 0, 0.9);
$tab-item-selected: white;
$tab_badge: white;
$tab_badge-background: #ce3b28;

$header: #585858;
$header-background: white;

$loader: rgb(10, 102, 194);