@import "~bootstrap/dist/css/bootstrap.css";

.lnm-dashboard-navbar{
  display: flex;
  align-items: center;
  justify-content: left;
  max-width: 1200px;
  width: 1200px;
  margin: 44px auto 0px;
  margin-bottom: 0px !important;
}

ul{
  margin-bottom: 0px !important;
}