@import "../themes/light";

.has-unread {
  background-color: $base-card-unread !important;
}

.bordered-card {
  border-bottom: 1px solid $base-card-border;
}

.base-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 100%;
  background-color: $base-card;

  &:hover {
    background-color: $base-card-hover !important;
  }

  .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5em;

    img {
      cursor: pointer;
      border-radius: 50%;
      height: 75px;
      width: 75px;
    }
  }

  .card-timestamp {
    font-size: 14px;
    font-weight: 400;
    color: $base-card-timestamp;
    margin-left: auto;
  }

  .card-title {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: $base-card-title;

    &:hover {
      color: $base-card-title-hover;
      text-decoration: underline;
    }
  }

  .card-message {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: $base-card-message;
    max-height: 3em;
    overflow-y: hidden;
  }
}