@import "../themes/primary";
@import "BaseCard";

.invitation-card {
  @extend .base-card;

  .card-subtitle {
    margin-right: auto;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: $invitation-card-subtitle;
    max-height: 3.25em;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .action-accept {
    font-size: 16px;
    color: $invitation-card-action-2;
    border: 2px solid $invitation-card-action-2;
    border-radius: 50px;
    padding: 0.25em 0.75em;
    margin: 0em 0.5em;
    user-select: none;
    cursor: pointer;
  }

  .action-ignore {
    font-size: 16px;
    color: $invitation-card-action-1;
    padding: 0.25em 0.5em;
    margin: 0em 0.15em;
    user-select: none;
    cursor: pointer;
  }

}