.scroll {
  width: 100%;
  margin-top: 75px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 550px;
  padding: 0px;
  background-color: #f3f2ef;
}