@import "../themes/primary";
@import "BaseCard";

.notification-card {
  @extend .base-card;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 16px;

  .notification-action {
    font-size: 16px;
    color: $notification-card-action-1;
    border: 1px solid $notification-card-action-1-border;
    border-radius: 50px;
    padding: 0.25em 0.75em;
    margin: 0em 0.5em;
    user-select: none;
    cursor: pointer;
  }

  .card-message {
    margin: 1em;
    margin-bottom: 0px;
  }
}