@import "../themes/light";

.sign-in {
  font-size: 16px;
  background-color: $sign-in-background;
  color: $sign-in;
  border: 1px solid $sign-in-border;
  border-radius: 50px;
  padding: 0.5em 2em;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: $sign-in-hover !important;
  }
}