@import "../themes/primary";

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $tab;
  border-top: 1px solid $tab-border;
  border-bottom: 1px solid $tab-border;

  .tab-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 1em;
    color: $tab-item;

    span {
      margin: 0em 0.5em;
    }

    .tab-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      color: var(--tab-badge);
      background-color: var(--tab-badge-background);
      border-radius: 50%;
      min-width: 17px;
      height: 16px;
      padding: 3px;
      font-size: 12px;
    }
  }

  .tab-selected {
    color: $tab-item-selected !important;;
    background-color: $tab-selected !important;
  }
}