@import "../themes/light";

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: $tab;
  border-bottom: 1px solid $tab-border;
  z-index: 1000;

  .tab-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 1em;
    color: $tab-item;

    &:hover {
      color: $tab-item-hover;
    }

    .tab-badge {
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: $tab_badge;
      background-color: $tab_badge-background;
      border-radius: 50%;
      min-width: 25px;
      height: 25px;
      margin-left: auto;
    }
  }

  .tab-selected {
    background-color: $tab-selected !important;
  }
}