@import "../themes/primary";

.switch {
  background-color: $theme-switch;
  border: 1px solid $theme-switch-border;
  width: 66px;
  height: 31px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;

  svg {
    color: $theme-switch-icon;
  }

  .circle {
    background: $theme-switch-circle;
    border: 2px solid $theme-switch-circle-border;
    border-radius: 50%;
    height: 21px;
    width: 21px;
  }

}