.collapsible-title {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;

  span {
    padding-left: 0.5em;
  }

  .opened {
    transform: rotate(90deg);
  }

  .closed {
    transform: rotate(0deg);
  }
}