@import "../../themes/primary";
@import "NotesContainer";
@import "Collapsible";
@import "PayDistribution";
@import "StageSwitch";
@import "NoteCard";
@import "NotesCommon";
@import "PayExtrapolationChart";
@import "../Credits";

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 25;
}

.position-collapsed {
  width: 75px;
  height: 75px;
  left: 50%;
  transform: translateX(-50%);
}

.custom-width{
  width: 1282px !important;
}

.position-expanded {
  width: 500px;
  left: 70%;
  transform: translateX(-50%);
}

.position-expanded-listview{
  left: 50% !important;
  top: -8% !important;
  padding-top: 0px !important;
  height: 507px;
}

.notes-and-charts {
  color: $notes-and-charts;
  background: $notes-and-charts-background;
  border-radius: 9px;
  overflow: hidden;
  padding-top: 1em;
  padding-left: 16px;
  padding-right: 20px;
  position: absolute;
  top: 25px;
  z-index: 25;
  box-shadow: 0px 18px 101px $notes-and-charts-shadow;
  transition: width 100ms cubic-bezier(0.0, 0.0, 0.2, 1);

  .h-300 {
    height: 215px;
  }

  .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-child {
    margin-top: 12px;
    margin-right: -88px;
  }

  .footer-child-listview {
    margin-top: 3px !important;
    .text-input-container {
      margin-bottom: 0 !important;
      .text-input {
        height: 18px;
        display: flex;
        input {
          outline: none;
        }
      }
    }
  }

}

.notes-and-charts-listview{
  padding-top: 0 !important;
}

.label-section {
  display: flex;
  flex-direction: column;
  padding: 0.25em 1em;

  .label-salary {
    display: flex;
    align-items: center;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: $notes-and-charts-salary;
    width: 35%;
  }

  .label-salary-edit {
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: "Helvetica";
    height: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #6e6e6e;
    width: 35%;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  .label-position {
    display: flex;
    align-items: center;

    span {
      padding-left: 0.5em;
    }
  }

}

.chart-section {
  top: 1.5em;
  right: 2.5em;
  position: absolute;
}

.title-child {
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-left: 27px;
}

.stage-container {
  display: flex;
  flex-direction: column;

  .stages {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em 1.5em;
  }
}

.stage-parents-container-border {
  margin-bottom: -60px !important;;
}

.stage-parents-container {
  display: flex;
  flex-direction: row;
  width: 48%;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 20px;

  .item {
    border-radius: 20px;
    background-color: #F1F1F1;
    width: 75px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-align: center;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
  }

  .active-item {
    border-radius: 20px;
    background-color: #8B8B8B;
    color: #ffffff !important;
    border: 1px solid #8B8B8B;
    text-align: center;
    width: 75px;
    height: 28px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
  }

  .nested-childs {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
  }

  .custom-stages-wrapper {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    width: 100%;
  }
}
.selected-stages {
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.create-new-group-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  color: #1569BF;
  border: 1px solid #1569BF;
  height: 28px;
  padding-left: 12px;
  padding-right: 10px;
  font-size: 11px;

  input {
      width: 140%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 10px;
      &:focus {
          outline: none;
      }
    background-color: $notes-container-background;
    color: $notes-color-3;
  }

}

.is-creating {
  border: 1px solid #8B8B8B;
  padding-right: 10px;
}

.close-button-salary {
  padding-right: 5%;
  padding-top: 4%;
}

.stage-name-title{
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: $notes-color-4;
}

.stage-name-title-active{
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: $notes-color-5;
  align-items: center;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 68px;
  border-bottom: 1px solid $notes-border;
  max-width: 110px;
}

.icon-color path {
  stroke: $kanban-table-action-btn-color;
}

.notes-listview-heading{
  margin-top: -33px;
  margin-bottom: -14px;
}
