@import "../../themes/primary";

.notes-container {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 12px;
  color: $notes-container;
  background: $notes-container-background;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  min-height: 457px;
}
