@import "../../themes/primary";
@import "NotesContainer";
@import "Collapsible";
@import "PayDistribution";
@import "StageSwitch";
@import "NoteCard";

.title-child {
  display: flex;
  align-items: center;
}

.footer-child {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $notes-background;
  padding: 2em 2em 0em;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;

  .text-input-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 1em;

    .text-input {
      width: 100%;
      background: $notes-input-background;
      border: 1px solid $notes-input-border;
      border-radius: 40px;
      padding: 0.75em 40px 0.75em 0.75em;

      input {
        outline: none;
        border: none;
        background: none;
        color: $notes-input;
        width: 100%;
      }

      &:disabled {
        opacity: 0.75;
        cursor: wait;
      }

      &:focus {
        outline: 1px solid $notes-input-outline;
      }
    }

    div > svg {
      position: absolute;
      height: 14px;
      width: 14px;
      right: 0.5em;
      top: 0.45em;
      padding: 0.5em;
      border-radius: 2em;
    }

    .submit-allowed > svg {
      background-color: $notes-input-submit;
      cursor: pointer;
    }

    .submit-disabled > svg {
      background-color: $notes-input-submit-disabled;
      cursor: not-allowed;
    }
  }
}

.notes-counter {
  margin-left: 0.5em;
  background: $notes-counter-background;
  height: 24px;
  width: 24px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $notes-counter;
  border-radius: 18px;
}

.local-loader {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}

.no-notes {
  padding: 2em 0em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;

  .color-1 {
    fill: $notes-color-1;
  }

  .color-2 {
    fill: $notes-color-2;
  }
}

.scroll-container {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  .scroll-content {
    width: 100%;
    height: 100%;
  }
}

.salary-title{
  display: flex;
  align-items: center;
}

.salary-title-text{
  margin-right: 10px;
}