@import "NotesContainer";
@import "Collapsible";
@import "PayDistribution";
@import "StageSwitch";
@import "NoteCard";
@import "NotesCommon";

.notes-and-charts {
  width: 500px;
  position: absolute;
  top: 25px;
  left: 10vw;
  z-index: 1000;
  box-shadow: 0px 18px 101px rgba(150, 163, 176, 0.27);
}

.label-section {
  display: flex;
  flex-direction: column;
  padding-left: 1em;

  .label-salary {
    display: flex;
    align-items: center;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #585858;
  }

  .label-position {
    display: flex;
    align-items: center;

    span {
      padding-left: 0.5em;
    }
  }

}

.chart-section {
  top: 0.5em;
  right: 1em;
  position: absolute;
}

.title-child {
  display: flex;
  align-items: center;
}

.big-chart {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage-container {
  display: flex;
  flex-direction: column;
  padding: 1em;

  .stages {
    display: flex;
    justify-content: space-around;
    padding-top: 0.5em;
  }
}