@import "../../themes/primary";

.bar-container {
  display: flex;
  width: 250px;

  .bar {
    display: flex;
    flex-direction: column;

    .bar-line {
      height: 17px;
      width: 100%;
    }
  }

  .bar-left {
    @extend .bar;
    justify-content: start;

    span {
      display: flex;
      justify-content: start;
    }

    .bar-line {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      background-color: $pay-distribution-left;
    }
  }

  .bar-middle {
    @extend .bar;
    width: 100%;

    span {
      display: flex;
      justify-content: center;
    }

    .bar-line {
      background-color: $pay-distribution-middle;
    }
  }

  .bar-right {
    @extend .bar;
    justify-content: end;

    span {
      display: flex;
      justify-content: right;
    }

    .bar-line {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      background-color: $pay-distribution-right;
    }
  }
}

.input-field {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}


.edit-salary .input-field {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  width: 72px;
  margin-right: 2px;
}