@import "../../themes/primary";
@import "../AccessGuard";

.stage {
  margin: 0.15em 0em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
  border-radius: 37px;
  color: $stage;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  height: 18px;
  width: 60px;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  label {
    cursor: pointer;
    user-select: none;
  }

  & svg {
    width: 20px;
    height: 20px;
  }
}

.interested {
  background-color: $stage-interested;
  border: 1px solid #8b8b8b00;
  border-radius: 37px;
}

.not-interested {
  background-color: $stage-not-interested;
  border: 1px solid #8b8b8b00;
  border-radius: 37px;
}

.interviewing {
  background-color: $stage-interviewing;
  border: 1px solid #8b8b8b00;
  border-radius: 37px;
}

.failed {
  background-color: $stage-failed;
  border: 1px solid #8b8b8b00;
  border-radius: 37px;
}

.hired {
  background-color: $stage-hired;
  border: 1px solid #8b8b8b00;
  border-radius: 37px;
}

.passive{
  background-color: $stage-passive;
  color: #767676;
  border: 1px solid #8b8b8b00;
  border-radius: 37px;
}

.inactive {
  background-color: white;
  color: #8B8B8B;
  border: 1px solid #8B8B8B;
  border-radius: 37px;
}

.customPill {
  width: 85%;
  white-space: normal;
  word-wrap: break-word;
  height: auto;
}

.pill-parent{
  justify-content: center;
}
