@import "../../themes/light";
@import "../AccessGuard";

.stage {
  margin: 0.15em 0em;
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 6px 11px;
  border-radius: 37px;
  color: $stage;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  height: 18px;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  label {
    cursor: pointer;
    user-select: none;
  }

  & svg {
    width: 20px;
    height: 20px;
  }
}

.interested {
  background-color: $stage-interested;
}

.not-interested {
  background-color: $stage-not-interested;
}

.interviewing {
  background-color: $stage-interviewing;
}

.failed {
  background-color: $stage-failed;
}

.hired {
  background-color: $stage-hired;
}

.inactive {
  background-color: $stage-inactive;
}