@import "./typed";

.typed-line-align {
  text-align: start;
}

.typed-line {
  @include typed(
                  "Recruiters",
                  "Marketers",
                  1.5,
                  (
                          caret-width: 2px,
                          caret-space: 2px
                  ))
}