@import "../themes/light";
@import "AccessGuard";

.action-base {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  user-select: none;
  padding: 0.25em 1em;
  margin: 0em 0.25em;
}

.complete {
  background-color: $complete-background;
  color: $complete;
  cursor: pointer;

  &:hover {
    background-color: $complete-background-hover;
  }
}

.complete-progress {
  background-color: $complete-progress-background;
  color: $complete-progress;
  cursor: wait;
}

.complete-disabled {
  background-color: $complete-disabled-background;
  color: $complete-disabled;
  cursor: not-allowed;
}