@import "../themes/light";

.credits {
  width: 100%;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 400;
  user-select: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 1em 1em;

  svg {
    margin-right: 0.5em;
    width: 13px;
    height: 13px;
  }

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

}

.short {
  max-width: 175px;
}