@import "AccessGuard";

.iframe-container {

  iframe {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
  }

  .sign-in {
    cursor: pointer;
    user-select: none;
    margin-top: 2em;
    justify-content: center;
    display: flex;
  }

}