@import "../themes/light";
@import "AccessGuard";

.salary-pill {
  font-size: 16px;
  color: $salary-pill;
  border: 1px solid $salary-pill;
  border-radius: 50px;
  padding: 0.25em 0.75em;
  margin: 0em 0.5em;
  user-select: none;

  &:hover {
    background-color: $salary-pill-background-hover !important;
  }

  & svg {
    height: 24px;
    color: $salary-pill;
  }
}

.clickable {
  cursor: pointer;
}

.disabled {
  opacity: 0.75;
  filter: grayscale(1);
}