@import "../themes/primary";

.time-zone {
  top: 0;
  right: 0;
  display: inline-block;
  z-index: 10;
  position: absolute;
  align-items: center;
  color: $reply-text-area-caret-color;
  user-select: none;
  cursor: pointer;
  background: $reply-text-container-color;
  border: 0px;
  padding: 0px 17px;
  height: 22px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  margin-left: 0.5em;
}